* {
    --nav-bar-size: calc(8vh + 2px);
}


nav {
    position: fixed;
    z-index: 5;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid;
    border-image: linear-gradient(#ff0000, #00ff00);
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.nav-bar-space {
    height: calc(8vh + 2px);
}

.nav-bar-scrolled {
    background-color: #12132a;
}

.nav-bar-elements {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: height 1s ease-in-out;
    
}

.nav-bar-elements.init {
    height: 8vh;
}   

.nav-bar-border {
    height: 2px;
    width: 50%;
    background: var(--spezi-gradient);
    animation: grow 0.1s ease-in-out;
}

.page-logo {
    height: min(20vh, 20vw);
    transition: height 1s ease-in-out;
}

.page-logo > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-bar-elements.init > .page-logo {
    height: 8vh;
}

@keyframes init {
    0% {
        height: 100vh
    }
    100% {
        height: 8vh;
    }
}

@keyframes grow {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .nav-bar-border {
        width: 100%;
    }
}